<header>
    <title>Beer Sommelier</title>
</header>
<head>   
  {% load static %}    
  <link  href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link  href="{% static '/css/customized.css' %}" rel="stylesheet"/>
</head>
<body class="body">    
    <h3><span class="textCabecalho"</span>Beer Sommelier</h3>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">      
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'cloud:indexOn' %}">Beer Sommelier </a>
            </div>                      
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
                <form class="navbar-form navbar-right" >                   
                   <a href="{% url 'cloud:usuarioNew' %}"><button type="button" class="btn btn-default" >Logon</button></a>
                </form>      
                <form class="navbar-form navbar-right"action="{% url 'cloud:logar' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name='codUsuario' placeholder="Usuário">
                        <input type="password" class="form-control" name='senhaUsuario' placeholder="Senha">
                    </div>
                    <button type="submit" class="btn btn-default" value="logar">Login</button>
                </form>                               
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}           
    <script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
    <script>$(function () {$('.dropdown-toggle').dropdown();});</script>
</body>