<header>
    <title>Beer Sommelier</title>
</header>
<head>   
  {% load static %}    
  <link  href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link  href="{% static '/css/customizedT.css' %}" rel="stylesheet"/>
</head>
<body class="body">    
  <h3><span class="textCabecalho"</span>Beer Sommelier</h3>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">      
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'cloud:indexOn' %}">Beer Sommelier </a>
        </div>                      
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">                      
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'cloud:cor' %}">Cor</a></li>
                            <li><a href="{% url 'cloud:fabricante' %}">Fabricante</a></li>
                            <li><a href="{% url 'cloud:rotulo' %}">Rótulo</a></li>
                            <li><a href="{% url 'cloud:tipo' %}">Tipo</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'cloud:comida' %}">Comida</a></li>
                            <li><a href="{% url 'cloud:prato' %}">Prato</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'cloud:cidade' %}">Cidade</a></li>
                            <li><a href="{% url 'cloud:estado' %}">Estado</a></li>
                            <li><a href="{% url 'cloud:pais' %}">País</a></li>
                            <li><a href="{% url 'cloud:regiao' %}">Região</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sugestão <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'cloud:sugestao' %}">Gerar Sugestão</a></li>
                            <li><a href="{% url 'cloud:nota' %}">Validar sugestão</a></li>
                            <li><a href="{% url 'cloud:peso' %}">Alterar Peso</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estabelecimento <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'cloud:usuario' %}">Usuario</a></li>
                            <li><a href="{% url 'cloud:estabelecimento' %}">Estabelecimento</a></li>                            
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" action="{% url 'cloud:sair' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default" value="sair">LogOff</button>
                </form>                
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}           
    <script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
    <script>$(function () {$('.dropdown-toggle').dropdown();});</script>
</body>