{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Acompanhamentos Prato: {{latest_prato.nome}}</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarAcompanhamento' %}" method="post">
            {% csrf_token %}
            <div class="form-group">                                    
                    <input type="hidden" name="id_Prato" value={{latest_prato.id}}>            
                    <label>Comida</label>            
                    <select class="form-control" name="id_Comida">
                        {% for comida in latest_comida_list %}
                        <option value={{comida.id}}>{{comida.nome}}</option>
                        {% endfor %}                        
                    </select>                
            </div>
            <button type="submit" class="btn btn-default" value="cadastrarAcompanhamento" >Gravar</button>    
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Acompanhamentos</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th> 
                <th>Prato</th>
                <th>Acompanhamento</th>
                <th>Excluir</th>
            </tr> 
        </thead>
        {% if latest_acompanhamento_list %}
            <tbody>                               
                {% for acompanhamento in latest_acompanhamento_list %}
                    <tr> 
                        <th scope="row"><var>{{acompanhamento.id}}</var></th> 
                        <td>{{ acompanhamento.prato.nome }}</td>          
                        <td>{{ acompanhamento.comida.nome }}</td>          
                        <td>
                            <form  action="{% url 'cloud:deleteAcompanhamento' %}" method="post">                                
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{acompanhamento.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="deleteCadastro" >X</button>
                            </form>
                        </td>                
                    </tr> 
                {% endfor %}                
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}