{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Comida</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarComida' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Nome da comida">
                <label>Descrição</label>
                <input type="text" class="form-control" name="descricao" placeholder="Descrição da comida">                 
            </div>
            <button type="submit" class="btn btn-default" value="cadastrarComida" >Gravar</button>    
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Comidas</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th> 
                <th>Nome Comida</th>
                <th>Descrição</th>
                <th>Excluir</th>
            </tr> 
        </thead>
        {% if latest_comida_list %}
            <tbody>                               
                {% for comida in latest_comida_list %}
                    <tr> 
                        <th scope="row"><var>{{comida.id}}</var></th> 
                        <td>{{ comida.nome }}</td>          
                        <td>{{ comida.descricao }}</td>          
                        <td>
                            <form  action="{% url 'cloud:deleteComida' %}" method="post">                                
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{comida.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="deleteCadastro" >X</button>
                            </form>
                        </td>                
                    </tr> 
                {% endfor %}                
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}