{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Cidade</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarCidade' %}" method="post">
            {% csrf_token %}
            {% if latest_estado_list and latest_clima_list %}
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="nome" placeholder="Nome da Cidade">    
                    <label>Estado</label>            
                    <select class="form-control" name="estado">
                        {% for estado in latest_estado_list %}
                        <option value={{estado.id}}>{{estado.regiao.pais.nome}} - {{estado.nome}}</option>    
                        {% endfor %}                        
                    </select>    
                    <label>Clima</label>            
                    <select class="form-control" name="clima">
                        {% for clima in latest_clima_list %}
                        <option value={{clima.id}}>{{clima.nome}}</option>    
                        {% endfor %}                        
                    </select>                
                </div>
                <button type="submit" class="btn btn-default" value="cadastrarCidade" >Gravar</button>    
            {% else %}
            <label>Necessário cadastrar Estado e Clima para cadastrar Cidade</label>
            {% endif %}
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Cidades</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th> 
                <th>Cidade</th>
                <th>Estado</th> 
                <th>Clima</th>   
                <th>Excluir</th>
            </tr> 
        </thead>
        {% if latest_cidade_list %}
            <tbody>                
                {% for cidade in latest_cidade_list %}
                    <tr> 
                        <th scope="row">{{cidade.id}}</th> 
                        <td>{{ cidade.nome }}</td>                          
                        <td>{{ cidade.estado.nome }}</td>
                        <td>{{ cidade.clima.nome }}</td>                        
                        <td>
                            <form  action="{% url 'cloud:deleteCidade' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{cidade.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="deleteCadastro" >X</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}



