{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
            {% if latest_estabelecimento %}
                <h3 class="panel-title">Estabelecimento: {{latest_estabelecimento.nome}}</h3>
            {% else %}
                <h3 class="panel-title">Estabelecimento</h3>
            {% endif %}
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarEstabelecimento' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if latest_estabelecimento %}                                       
                {% else %}
                    <label>Nome</label>             
                    <input type="text" class="form-control" name="nome" placeholder="Nome do Estabelecimento">
                    {% if latest_cidade_list %}
                        <label>Cidade</label>
                        <select class="form-control" name="cidade">
                            {% for cidade in latest_cidade_list %}
                                <option value={{cidade.id}}>{{cidade.nome}}</option>    
                            {% endfor %}                        
                        </select>
                    {% endif %}
                    <button type="submit" class="btn btn-default" value="cadastrarEstabelecimento" >Gravar</button>    
                {% endif %}               
            </div>            
        </form>
        {% if latest_estabelecimento %}
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarCartaCerveja' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="estabelecimento" value={{latest_estabelecimento.id}}>
                <div class="form-group">    
                        <label>Selecionar cerveja para carta</label>                
                        <select class="form-control" name="rotulo">
                            {% for rotulo in latest_rotulo_list %}
                            <option value={{rotulo.id}}>{{rotulo.nome}}</option>    
                            {% endfor %}                        
                        </select>                              
                </div>
                <button type="submit" class="btn btn-default" value="cadastrarCartaCerveja" >Adicionar</button>    
        </form>
        {% endif %}
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Carta cervejas</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th> 
                <th>Rotulo</th> 
                <th>Fabricante</th>   
            </tr> 
        </thead>
        {% if latest_carta_list %}
            <tbody>                
                {% for carta in latest_carta_list %}
                    <tr> 
                        <th scope="row">{{carta.id}}</th> 
                        <td>{{ carta.rotulo.nome }}</td>                          
                        <td>{{ carta.rotulo.fabricante.nome }}</td>                        
                    </tr> 
                {% endfor %}
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}



