{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Fabricante</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarFabricante' %}" method="post">
            {% csrf_token %}
            <div class="container">
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Nome</label></div>
                        <div class="col-sm-11">
                                <input type="text" size= "100" class="form-control" name="nome" placeholder="Nome">                                
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Cidade</label></div>
                        <div class="col-sm-11">
                            {% if latest_cidade_list %}                    
                                <select class="form-control" name="cidade">
                                    {% for cidade in latest_cidade_list %}
                                        <option value={{cidade.id}}>{{cidade.estado.regiao.pais.nome}} - {{cidade.nome}}</option>    
                                    {% endfor %}                        
                                </select>
                            {% endif %}                                
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <button type="submit" class="btn btn-default" value="cadastrarFabricante" >Gravar</button>
                    </div>
            </div>                           
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Fabricantes</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th> 
                <th>Fabricante</th> 
                <th>Cidade</th>
                <th>Excluir</th>
            </tr> 
        </thead>
        {% if latest_fabricante_list %}
            <tbody>                
                {% for fabricante in latest_fabricante_list %}
                    <tr> 
                        <th scope="row">{{fabricante.id}}</th> 
                        <td>{{ fabricante.nome }}</td>                          
                        <td>{{ fabricante.cidade.nome }}</td>
                        <td>
                            <form  action="{% url 'cloud:deleteFabricante' %}" method="post">                                
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{fabricante.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="deleteCadastro" >X</button>
                            </form>
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}



