{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Sugestões para avaliar</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Codigo</th> 
                <th>Rotulo</th>
                <th>Prato</th>
                <th>Nota</th>                
            </tr> 
        </thead>
        {% if latest_nota_list %}
            <tbody>                               
                {% for nota in latest_nota_list %}
                    <tr> 
                        <th scope="row"><var>{{nota.id}}</var></th> 
                        <td>{{ nota.sugestao.rotulo.nome }}</td>          
                        <td>{{ nota.sugestao.prato.nome }}</td>                                                
                            <form  action="{% url 'cloud:gravarNota' %}" method="post">                                
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{nota.id}}>
                                <td>
                                <select class="form-control" name="vlrnota">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                                </td>
                                <td>
                                <button type="submit" class="btn btn-secondary btn-sm" value="gravarNota" >Aplicar nota</button>
                                </td>
                            </form>                        
                    </tr> 
                {% endfor %}                
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros para avaliar</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}