{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Configurar Pesos</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form" action="{% url 'cloud:gravarPeso' %}" method="post">
            {% csrf_token %}           
            {% if latest_Peso %}  
                <div class="container">
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Tipo</label></div>
                        <div class="col-sm-11">
                                <input type="text" size= "100" class="form-control" name="tipo" value="{{latest_Peso.tipo}}"> 
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>% Alcool</label></div>
                        <div class="col-sm-3">
                                <input type="text" size= "35" class="form-control" name="alcool" value="{{latest_Peso.alcool}}"> 
                        </div>
                        <div class="col-sm-1"><label>Variação Alcool</label></div>
                        <div class="col-sm-3">
                                <input type="text" size= "35" class="form-control" name="varAlcool" value="{{latest_Peso.variacaoAlcool}}"> 
                        </div>
                    </div>                   
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>IBU</label></div>
                        <div class="col-sm-3">
                                <input type="text" size= "35" class="form-control" name="ibu" value="{{latest_Peso.ibu}}"> 
                        </div>
                        <div class="col-sm-1"><label>Variação IBU</label></div>
                        <div class="col-sm-3">
                                <input type="text" size= "35" class="form-control" name="varIBU" value="{{latest_Peso.variacaoIBU}}"> 
                        </div>
                    </div>                    
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Cor</label></div>
                        <div class="col-sm-11">
                                <input type="text" size= "100" class="form-control" name="cor" value="{{latest_Peso.cor}}"> 
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Fabricante</label></div>
                        <div class="col-sm-11">
                                <input type="text" size= "100" class="form-control" name="fabricante" value="{{latest_Peso.fabricante}}"> 
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Pais de Origem</label></div>
                        <div class="col-sm-11">
                                <input type="text" size= "100" class="form-control" name="paisOrigem" value="{{latest_Peso.paisOrigem}}"> 
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Comida principal</label></div>
                        <div class="col-sm-11">
                                <input type="text" size= "100" class="form-control" name="comida" value="{{latest_Peso.comida}}"> 
                        </div>
                    </div>
                    <div class="row paddingTop5">
                            <button type="submit" class="btn btn-default" value="gravarPeso" >Gravar</button>    
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}    


