{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Pais</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarPais' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Nome do Pais">
                {% if latest_continente_list %}
                <label>Continente</label>
                    <select class="form-control" name="continente">
                        {% for continente in latest_continente_list %}
                        <option value={{continente.id}}>{{continente.nome}}</option>    
                        {% endfor %}                        
                    </select>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default" value="cadastrarPais" >Gravar</button>    
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Paises</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th> 
                <th>Pais</th> 
                <th>Continente</th>
                <th>Excluir</th>
            </tr> 
        </thead>
        {% if latest_pais_list %}
            <tbody>                
                {% for pais in latest_pais_list %}
                    <tr> 
                        <th scope="row">{{pais.id}}</th> 
                        <td>{{ pais.nome }}</td>                          
                        <td>{{ pais.continente.nome }}</td>
                        <td>
                            <form  action="{% url 'cloud:deletePais' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{pais.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="deleteCadastro" >X</button>
                            </form>
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}



