{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Prato</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarPrato' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Nome do prato">
                <label>Descrição</label>
                <input type="text" class="form-control" name="descricao" placeholder="Descrição do prato">
                <label>Comida principal</label>            
                    <select class="form-control" name="comida">
                        {% for comida in latest_comida_list %}
                        <option value={{comida.id}}>{{comida.nome}}</option>
                        {% endfor %}                        
                    </select>
            </div>
            <button type="submit" class="btn btn-default" value="cadastrarPrato" >Gravar</button>    
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Pratos</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th> 
                <th>Nome Prato</th>
                <th>Descrição</th>
                <th>Comida principal</th>
                <th>Editar/Adicionar</th>
                <th>Excluir</th>
            </tr> 
        </thead>
        {% if latest_prato_list %}
            <tbody>                               
                {% for prato in latest_prato_list %}
                    <tr> 
                        <th scope="row"><var>{{prato.id}}</var></th> 
                        <td>{{ prato.nome }}</td>          
                        <td>{{ prato.descricao }}</td>
                        <td>{{ prato.comidaPrincipal.nome }}</td>
                        <td>
                            <form  action="{% url 'cloud:acompanhamento' %}" method="post">                                
                                {% csrf_token %}
                                <input type="hidden" name="id_Prato" value={{prato.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="acompanhamento" >Adicionar Comidas</button>
                            </form>
                        </td>
                        <td>
                            <form  action="{% url 'cloud:deletePrato' %}" method="post">                                
                                {% csrf_token %}
                                <input type="hidden" name="id_Prato" value={{prato.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="deleteCadastro" >X</button>
                            </form>
                        </td>                
                    </tr> 
                {% endfor %}                
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}