{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Região</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarRegiao' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Nome da Região">
                {% if latest_pais_list %}
                <label>Pais</label>
                    <select class="form-control" name="pais">
                        {% for pais in latest_pais_list %}
                        <option value={{pais.id}}>{{pais.nome}}</option>    
                        {% endfor %}                        
                    </select>
                {% endif %}
                {% if latest_clima_list %}
                <label>Clima</label>
                    <select class="form-control" name="clima">
                        {% for clima in latest_clima_list %}
                        <option value={{clima.id}}>{{clima.nome}}</option>    
                        {% endfor %}                        
                    </select>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default" value="cadastrarRegiao" >Gravar</button>    
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Paises</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th> 
                <th>Região</th>
                <th>Pais</th> 
                <th>Clima</th>   
                <th>Excluir</th>
            </tr> 
        </thead>
        {% if latest_regiao_list %}
            <tbody>                
                {% for regiao in latest_regiao_list %}
                    <tr> 
                        <th scope="row">{{regiao.id}}</th> 
                        <td>{{ regiao.nome }}</td>                          
                        <td>{{ regiao.pais.nome }}</td>
                        <td>{{ regiao.clima.nome }}</td>
                        <td>
                            <form  action="{% url 'cloud:deleteRegiao' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{regiao.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="deleteCadastro" >X</button>
                            </form>
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}



