{% extends "cloud/base.html" %} 

<style>
    .paddingTop5{
        padding-top: 5px;
    }
</style>

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Rótulo</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form" action="{% url 'cloud:cadastrarRotulo' %}" method="post">
            {% csrf_token %}            
                <div class="container">
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Nome</label></div>
                        <div class="col-sm-11">
                                <input type="text" size= "100" class="form-control" name="nome" placeholder="Nome">                                
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>IBU</label></div>
                        <div class="col-sm-11">
                                <input type="text" class="form-control" name="ibu" placeholder="Ibu">        
                        </div>
                    </div>
                    <div class="row paddingTop5">
                            <div class="col-sm-1"><label>% Alcoólico</label></div>
                            <div class="col-sm-11">                                    
                                    <input type="text" class="form-control" name="teorAlcoolico" placeholder="Teor Alcóolico">
                            </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Cidade</label></div>
                        <div class="col-sm-11">
                                {% if latest_cidade_list %}                                
                                <select class="form-control" name="cidade">
                                    {% for cidade in latest_cidade_list %}
                                    <option value={{cidade.id}}>{{cidade.estado.regiao.pais.nome}} - {{cidade.nome}}</option>    
                                    {% endfor %}                        
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Fabricante</label></div>
                        <div class="col-sm-11">
                                {% if latest_fabricante_list %}                                
                                <select class="form-control" name="fabricante">
                                    {% for fabricante in latest_fabricante_list %}
                                    <option value={{fabricante.id}}>{{fabricante.nome}}</option>    
                                    {% endfor %}                        
                                </select>
                                {% endif %}
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Tipo</label></div>
                        <div class="col-sm-11">
                                {% if latest_tipo_list %}                                
                                <select class="form-control" name="tipo">
                                    {% for tipo in latest_tipo_list %}
                                    <option value={{tipo.id}}>{{tipo.nome}}</option>    
                                    {% endfor %}                        
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Cor</label></div>
                        <div class="col-sm-11">
                                {% if latest_cor_list %}                                
                                    <select class="form-control" name="cor">
                                        {% for cor in latest_cor_list %}
                                        <option value={{cor.id}}>{{cor.nome}}</option>    
                                        {% endfor %}                        
                                    </select>
                                {% endif %}
                        </div>                    
                    </div>
                    <div class="row paddingTop5">
                        <div class="col-sm-1"><label>Descrição</label></div>
                        <div class="col-md-11">                            
                            <textarea class="form-control" cols="100" rows="2" id="exampleFormControlTextarea1" rows="3" name="descricao" placeholder="Descrição"></textarea>
                        </div>
                    </div>
                    <div class="row paddingTop5">
                            <button type="submit" class="btn btn-default" value="cadastrarRotulo" >Gravar</button>    
                    </div>
        </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Rótulos</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th>
                <th>Rótulo</th>
                <th>Descrição</th>
                <th>Cidade</th>
                <th>Fabricante</th>
                <th>Tipo</th>
                <th>Cor</th>
                <th>IBU</th>
                <th>Teor Alcóolico</th>
                <th>Excluir</th>
            </tr> 
        </thead>
        {% if latest_rotulo_list %}
            <tbody>                
                {% for rotulo in latest_rotulo_list %}
                    <tr> 
                        <th scope="row">{{rotulo.id}}</th> 
                        <td>{{ rotulo.nome }}</td>                          
                        <td>{{ rotulo.descricao }}</td>
                        <td>{{ rotulo.cidadeFabricada.nome }}</td>
                        <td>{{ rotulo.fabricante.nome }}</td>
                        <td>{{ rotulo.tipo.nome }}</td>
                        <td>{{ rotulo.cor.nome }}</td>
                        <td>{{ rotulo.ibu }}</td>
                        <td>{{ rotulo.teorAlcoolico }}</td>
                        <td>
                            <form  action="{% url 'cloud:deleteRotulo' %}" method="post">                                
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{rotulo.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="deleteCadastro" >X</button>
                            </form>
                        </td> 
                    </tr> 
                {% endfor %}
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}



