{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Tipo</h3>
    </div>
    <div class="panel-body">
        <!--<form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarTipo' %}" method="post"> -->
        <form class="form-inline" action="{% url 'cloud:cadastrarTipo' %}" method="post">
            {% csrf_token %}
            {% if latest_cor_list %}
                <div class="form-group">
                        <div class="container">
                            <div class="row paddingTop5">
                                <div class="col-sm-1"><label>Nome</label></div>
                                <div class="col-sm-11"><input type="text" size= "100" class="form-control" name="nome" placeholder="Nome"></div>
                            </div>
                            <div class="row paddingTop5">
                                <div class="col-sm-1"><label>Cor</label></div>
                                <div class="col-sm-11">
                                    <select class="form-control" name="cor">
                                        {% for cor in latest_cor_list %}
                                            <option value={{cor.id}}>{{cor.nome}}</option>    
                                        {% endfor %}                        
                                    </select>                              
                                </div>
                            </div>
                            <div class="row paddingTop5"><button type="submit" class="btn btn-default" value="cadastrarTipo" >Gravar</button></div>
                        </div>   
                                                             
                </div>                    
            {% else %}
            <label>Necessário cadastrar cor para cadastrar tipo</label>
            {% endif %}
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Cores</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr> 
                <th>Código</th> 
                <th>Tipo</th> 
                <th>Cor</th>
                <th>Excluir</th>
            </tr> 
        </thead>
        {% if latest_tipo_list %}
            <tbody>                
                {% for tipo in latest_tipo_list %}
                    <tr> 
                        <th scope="row">{{tipo.id}}</th> 
                        <td>{{ tipo.nome }}</td>                          
                        <td>{{ tipo.cor.nome }}</td>
                        <td>
                            <form  action="{% url 'cloud:deleteTipo' %}" method="post">                                
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{tipo.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="deleteCadastro" >X</button>
                            </form>
                        </td> 
                    </tr> 
                {% endfor %}
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}



