{% extends "cloud/baseOff.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro Tipo</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:cadastrarUsuario' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="nome" placeholder="Nome">
                <input type="text" class="form-control" name="codUsuario" placeholder="Usuário">
                <input type="email" class="form-control" name="email" placeholder="E_Mail">
                <input type="password" class="form-control" name="senha" placeholder="Senha">                
                {% if latest_cidade_list %}
                    <select class="form-control" name="cidade">
                        <option value=1>teste</option>
                        {% for cidade in latest_cidade_list %}
                        <option value={{cidade.id}}>{{cidade.estado.regiao.pais.nome}} - {{cidade.nome}}</option>    
                        {% endfor %}                        
                    </select>
                {% endif %}
                <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="1" name ="maitre">
                      Maitrê
                    </label>
                </div>                
            </div>
            <button type="submit" class="btn btn-default" value="cadastrarUsuario" >Gravar</button>    
        </form>
    </div>
</div>
{% endblock %}