{% extends "cloud/base.html" %} 
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Filtros Sugestão</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form navbar-left" action="{% url 'cloud:gerarSugestao' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                    <div class="container">
                        <div class="panel panel-default"><div class="panel-body">
                            <div class="row paddingTop5"><div class="col-sm-12"><label>Harmonizar com o Prato</label></div></div>
                            <div class="row paddingTop5">
                                <div class="col-sm-1"><label>Prato</label></div>
                                <div class="col-sm-11">
                                    <select class="form-control" name="prato">
                                        {% for prato in latest_prato_list %}
                                            {% if id_Prato_select == prato.id%}
                                                <option value={{prato.id}} selected>{{prato.nome}}</option>
                                            {% else %}
                                                <option value={{prato.id}}>{{prato.nome}}</option>
                                            {% endif %}
                                        {% endfor %}                        
                                    </select>                                
                                </div>
                            </div>
                        </div></div>
                        <div class="panel panel-default"><div class="panel-body">
                                <div class="row paddingTop5"><div class="col-sm-12"><label>Harmonizar para a região</label></div></div>
                                <div class="row paddingTop5">                                    
                                    <div class="col-sm-6">
                                        <label>Cidade</label>
                                        <select class="form-control" name="cidade_Harmonize">
                                            {% for cidade in latest_cidade_list %}
                                                {% if id_Cidade_User == cidade.id %}
                                                    <option value={{cidade.id}} selected>{{cidade.nome}}</option>
                                                {% else %}
                                                    <option value={{cidade.id}}>{{cidade.nome}}</option>
                                                {% endif %}
                                            {% endfor %}                        
                                        </select>
                                    </div>                                                                    
                                    <div class="col-sm-6">
                                            <label>Nível</label>
                                            <select class="form-control" name="nivel">
                                                    <option value=1>Geral</option>
                                                    <option value=2>Cidade</option>
                                                    <option value=3>Estado</option>
                                                    <option value=4>Pais</option>                                                    
                                                </select>
                                        </div>
                                </div>
                        </div></div>
                        <div class="panel panel-default"><div class="panel-body">
                                <div class="row paddingTop5"><div class="col-sm-12"><label>Filtrar apenas rótulos com as caracteristicas</label></div></div>
                                <div class="row paddingTop5">
                                    <div class="col-sm-1"><label>Pais</label></div>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="pais">
                                            <option value=-1>Todos</option>
                                            {% for pais in latest_pais_list %}
                                                <option value={{pais.id}}>{{pais.nome}}</option>
                                            {% endfor %}                        
                                        </select>
                                    </div>
                                    <div class="col-sm-1"><label>Fabricante</label></div>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="fabricante">
                                            <option value=-1>Todos</option>
                                            {% for fabricante in latest_fabricante_list %}
                                                <option value={{fabricante.id}}>{{fabricante.nome}}</option>
                                            {% endfor %}                        
                                        </select>
                                    </div>
                                    <div class="col-sm-1"><label>Tipo</label></div>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="tipo">
                                            <option value=-1>Todos</option>
                                            {% for tipo in latest_tipo_list %}
                                                <option value={{tipo.id}}>{{tipo.nome}}</option>
                                            {% endfor %}                        
                                        </select>
                                    </div>
                                </div>
                                <div class="row paddingTop5">
                                    <div class="col-sm-1"><label>IBU</label></div>
                                    <div class="col-sm-5">
                                        <input type="text" value=0 class="form-control" name="IBU1">    
                                        <label>à</label>
                                        <input type="text" value=100 class="form-control" name="IBU2">
                                    </div>
                                    <div class="col-sm-1"><label>% Alcoolico</label></div>
                                    <div class="col-sm-5">
                                        <input type="text" value=1 class="form-control" name="TeorAlcoolico1"> 
                                        <label>à</label>
                                        <input type="text" value=15 class="form-control" name="TeorAlcoolico2">   
                                    </div>
                                </div>
                                <div class="row paddingTop5">
                                <div class="form-check">
                                    <div class="col-sm-1"><input type="checkbox" class="form-check-input" id="cbCartaCerveja" name="cbCartaCerveja"></div>
                                    <div class="col-sm-5">
                                    <label class="form-check-label" for="exampleCheck1">Usar apenas carta de cerveja</label>
                                    </div>
                                </div>
                                </div>
                        </div></div>
                        <div class="row paddingTop5"><div class="col-sm-12"><button type="submit" class="btn btn-default" value="GerarSugestao" >Gerar Sugestão</button></div></div>
                    </div>
            </div>                
        </form>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Sugestão</div>  
        <!-- Table -->
    <table class="table">
        <thead> 
            <tr>                 
                <th>Rotulo</th>
                <th>Tipo</th>                
                <th>Fabricante</th>
                <th>Pontuação</th>
                <th>seleção</th>
            </tr> 
        </thead>
        {% if latest_sugestao_list %}
            <tbody>                               
                {% for sugestao in latest_sugestao_list %}
                    <tr> 
                        <td scope="row">{{ sugestao.rotulo.nome }}</td>      
                        <td scope="row">{{ sugestao.rotulo.tipo.nome }}</td>      
                        <td scope="row">{{ sugestao.rotulo.fabricante.nome }}</td>      
                        <td>{{ sugestao.pontuacao }}</td>
                        <td>
                            <form  action="{% url 'cloud:gravarRotuloSelecionado' %}" method="post">                                
                                {% csrf_token %}
                                <input type="hidden" name="prato" value={{sugestao.prato.id}}>
                                <input type="hidden" name="rotulo" value={{sugestao.rotulo.id}}>
                                <input type="hidden" name="usuario" value={{sugestao.usuario.id}}>
                                <input type="hidden" name="estacao" value={{sugestao.estacao.id}}>
                                <button type="submit" class="btn btn-secondary btn-sm" value="gravarRotuloSelecionado" >Selecionar</button>        
                            </form>
                        </td>                                    
                    </tr> 
                {% endfor %}                
            </tbody>
        {% else %}    
            <div class="panel-body">
                <p>Não possui registros cadastrados</p>
            </div>
        {% endif %}            
    </table>
</div>
{% endblock %}



