.body{ 
  background-color: rgb(153,170, 70);
    height: 100%;
    min-height: 100%;    
}
.panel01-footerCus01___ {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;    
    bottom: 0;
    position: absolute;        
  }
  .textCabecalho
  {
    font-family: "Bauhaus 93";
    font-size: 70px;
  }
  
  .panel01___ {
background-color: rgb(153,170, 70);

  }

.panel01-default01__>.panel01-heading01__ {
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}